@import "tailwindcss";
@plugin "daisyui";


/* seus estilos globais podem ficar abaixo */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-inter);
}
button, .btn {
  font-family: var(--font-lato);
  font-weight: 700;
}